###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=some-secret
###< symfony/framework-bundle ###

###> RabbitMQ / Symfony Messenger ###
# Format: amqp://user:password@host:port/%2f
MESSENGER_TRANSPORT_DSN=amqp://admin:admin@rabbitmq:5672/%2f
###< RabbitMQ / Symfony Messenger ###
