<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="11" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value=""/>
        <env name="APP_SHARE_DIR" value="var/share"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ symfony/messenger ### -->
        <!-- Choose one of the transports below -->
        <!-- MESSENGER_TRANSPORT_DSN=amqp://admin:admin@localhost:5672/%2f/messages -->
        <!-- MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages -->
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default?auto_setup=0"/>
        <!-- ###- symfony/messenger ### -->

        <!-- ###+ symfony/routing ### -->
        <!-- Configure how to generate URLs in non-HTTP contexts, such as CLI commands. -->
        <!-- See https://symfony.com/doc/current/routing.html#generating-urls-in-commands -->
        <env name="DEFAULT_URI" value="http://localhost"/>
        <!-- ###- symfony/routing ### -->
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
